<!DOCTYPE html>
<html>
  <head>
    <% include ../pages/head %>
  </head>
  <body>
  	<% if(isfail) { %>
  	<% include ../partials/alert %>
  	<% } %>
  	<% include ../pages/login %>
  </body>
</html>