<section class="hero is-info is-fullheight">
	<div class="hero-body">
		<div class="container has-text-centered">
			<div class="column is-4 is-offset-4">
				<div class="box is-large">
					<h1 class="title has-text-black" style="font-family:'Indie Flower', cursive;">If you are not our member yet, why not register?</h1>
					<form action="/register" method="post">
						<div class="field">
							<div class="control">
								<input type="text" name="id" class="input is-medium"
								placeholder="ID" autofocus="">
							</div>
						</div>
						<div class="field">
							<div class="control">
								<input type="password" name="password" class="input is-medium"
								placeholder="PASSWORD" autofocus="">
							</div>
						</div>
						<div class="field">
							<div class="control has-text-centered">
								<input type="submit" value="register" class="button is-medium is-info">
								<a href="/" class="button is-primary is-medium">I don't want</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>