<!--first home page-->
   <section class="hero is-info is-fullheight ">
    <div class="hero-body">
      <div class="container has-text-centered" style="margin-top:-1rem;">
        <div class="column is-4 is-offset-4">
          <h1 class="title is-1" style="margin-bottom:2rem;">Say to haram</h1>
          <p class="subtitle">You can say anything what u want</p>
          <div class="box">
            <figure class="avatar is-128x128" style="margin-bottom:1.2rem;">
              <img src="images/haram.png">
            </figure>
            <form action="/login" method="post">
              <div class="field">
                <div class="control">
                  <input class="input is-medium" type="text" placeholder="Your ID" name="username" autofocus="">
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input class="input is-medium" type="password" name="password" placeholder="Your Password">
                </div>
              </div>
              <input type="submit" value="Login" class="button is-block is-info is-large is-fullwidth">
            </form>
            <div class="buttons is-centered is-expanded" style="margin-top:1.3rem;">
            	<a href="/register" class="button is-primary is-medium">Register</a>
            	<a href="/delete" class="button is-danger is-medium">Delete</a>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>