<!--first home page-->
   <section class="hero is-info is-fullheight ">
    <div class="hero-body">
      <div class="container has-text-centered" style="margin-top:-1rem;">
        <div class="column is-4 is-offset-4">
          <h1 class="title is-1" style="margin-bottom:2rem;">Welcome! <%= name %></h1>
          <div class="box">
            <figure class="avatar is-128x128" style="margin-bottom:1.2rem;">
              <img src="images/haram.png">
            </figure>
            <div class="buttons is-centered is-expanded" style="margin-top:1.3rem;">
            	<a href="/logout" class="button is-primary is-medium">Logout</a>
            	<a href="/board" class="button is-link is-medium">Say to haram</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>